<div class="container" *ngIf="isRecoveryLinkSent">
        <div class="jumbotron">
            <h1>Success</h1>
            <p>Check your email for recovery link. If the email you entered is not registerd in our system, it won't receive any messages </p>
        </div>
    </div>



<form (ngSubmit)="onSubmit(form.value)" [formGroup]="form" *ngIf="form && !isRecoveryLinkSent">
        <app-email-input [parentFormGroup]="form" [isValidating]="true"></app-email-input>
        <app-submit-button [isDisabled]="!form.valid"></app-submit-button>
</form>