<h3>{{title}}</h3>
<form (ngSubmit)="onSubmit()" [formGroup]="form" *ngIf="form && user">
    <div class="form-group">
        <label for="">Name </label>
        <input type="text" class="form-control" id="" placeholder="Enter your first name" formControlName="name">
        <p [hidden]="!isIncorrectNameFormat('name')" class="text-danger"> Please Enter a that has atleast 3 letters and a maximum of 20 letters</p>
    </div>
    <app-email-input [parentFormGroup]="form" [isValidating]="true"></app-email-input>
    <app-submit-button [isDisabled]="!form.valid"></app-submit-button>
</form>
