<div class="jumbotron" *ngIf="isRegisteredButNotActive">
    <h1>Oh Oh</h1>
    <p>Your account is registered but it is not active yet. Please check your email for activation code. If you did not find
        the email in our inbox or spam folder, send an email to admin@test.com for support
    </p>
</div>

<h1>Login</h1>
<br>
<form (ngSubmit)="onSubmit(form.value)" [formGroup]="form" *ngIf="form">
    <app-email-input-layout [isNotValid]="form.get('email').dirty && form.get('email').invalid">
        <input type="email" name="email" class="form-control" formControlName="email">
    </app-email-input-layout>
    <app-password-input-layout [isNotValid]="form.get('password').dirty && form.get('password').invalid">
        <input type="password" name="password" class="form-control" formControlName="password">
    </app-password-input-layout>
    <app-submit-button [isDisabled]="!form.valid"></app-submit-button>
</form>
<hr>
<button class="btn btn-primary"  id="forget-password-button" routerLink="/login/recover_password_by_email">Forgotten password?</button>
<br>
<span>Do not have an account?</span>
<button class="btn btn-primary" id="signup-button" routerLink="/login/signup">Sign Up</button>