<div class="col-md-6">
    <div class="form-group">
                    <label for="role">{{this.selectedUserService.get().name}}'s  Role</label>
                
        <select class="form-control"  name="role" [(ngModel)]="userRole">
            <!-- <option disabled  value="" >Subcategory</option> -->
            <option value="regular">Regular</option>
            <option value="manager">Manager</option>
            <option value="admin">Admin</option>
                
        </select>
    </div>
    <button class="btn btn-primary" (click)="onAssignClick()" >Assign Role</button>
</div>
