<form (ngSubmit)="onSubmit(form.value)" [formGroup]="form" *ngIf="form">
    
    <div class="form-group">
        <label for="">Name </label>
        <input name="name" type="text" class="form-control" id="" placeholder="Enter time zone name" formControlName="name">
    </div>
    <div class="form-group">
        <label for="">City Name </label>
        <input name="city" type="text" class="form-control" id="" placeholder="Enter City Name " formControlName="city">
    </div>
    <div class="form-group">
        <label for="">GMT Time difference </label>
        <input name="gmtTimeDifference" type="number" class="form-control" id="" min="-12" max="14" placeholder="Enter Gmt Time Difference" formControlName="gmtTimeDifference">
    </div>
    <app-submit-button [isDisabled]="!form.valid"></app-submit-button>
</form>
