<form [formGroup]="form" *ngIf="form">

    <app-name-input-layout [isNotValid]="form.get('name').dirty && form.get('name').invalid">
        <input type="text" name="name" class="form-control" formControlName="name">
    </app-name-input-layout>

    <app-email-input-layout [isNotValid]="form.get('email').dirty && form.get('email').invalid">
        <input type="email" name="email" class="form-control" formControlName="email">
    </app-email-input-layout>

    <div formGroupName="passwords">
        <app-password-input-layout [isNotValid]="form.get('passwords').get('password').dirty && form.get('passwords').get('password').invalid">
            <input type="password" name="oldPassword" placeholder="Enter Password" class="form-control" formControlName="password">
        </app-password-input-layout>

        <div class="form-group">
            <label for="">Confirm Password </label>
            <input type="password" name="newPassword" class="form-control" placeholder="Enter Password" formControlName="confirmPassword">
            <p [hidden]="!form.get('passwords').getError('areEqual')" class="text-danger">Please Enter a similar password </p>
        </div>
    </div>
    <button class="btn btn-primary" [disabled]="!form.valid" type="submit" (click)="signup()">Signup</button>
    <button class="btn btn-primary" [disabled]="!form.valid" type="submit" (click)="signupSecurely()">Signup securely</button>
</form>