<form (ngSubmit)="onSubmit(form.value)" [formGroup]="form" *ngIf="form">
    <div class="form-group">
        <label for="">Name </label>
        <input type="text" class="form-control" id="" placeholder="Enter your first name" formControlName="firstName">
    </div>
    <div class="form-group">
        <label for="">Email Address </label>
        <input type="email" class="form-control" id="" placeholder="Enter email address" formControlName="email">
        <p [hidden]="!isIncorrectMailFormat('email')" class="text-danger"> Please Enter a valid email </p>
    </div>
    <div class="form-group">
        <label for="">Password </label>
        <input type="password" class="form-control" id="" placeholder="Enter Password" formControlName="password">
        <p [hidden]="!isIncorrectPasswordFormat('password')" class="text-danger"> Please Enter a valid password </p>
    </div>
    <div class="form-group">
        <label for="">Confirm Password </label>
        <input type="password" class="form-control" id="" placeholder="Enter Password" formControlName="confirmPassword">
        <p [hidden]="!isIncorrectMailFormat('confirmPassword')" class="text-danger"> Please enter a smimilar password </p>
    </div>
    <button type="submit" class="btn btn-success" [disabled]="!form.valid"> Sign up</button>
</form>

