<div class="conter-wrapper">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Timings
                        <a routerLink="['/add-time']" class="text-info pull-right fa fa-plus" title="Add New TimeZone"></a>
                    </h3>
                </div>
                <div class="panel-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>City</th>
                                <th>gmtTimeDifference</th>
                                <th class="text-center">Update</th>
                                <th class="text-center">Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of timeZones">
                                <td>{{item.name}}</td>
                                <td>{{item.city}}</td>
                                <td>{{item.gmtTimeDifference}}</td>
                                <td class="text-center" routerLink="['/edit-time']"><i class="fa fa-edit  text-default"> </i></td>
                                <td class="text-center" (click)="onDeleteClick(item)"><i class="fa fa-trash text-danger"> </i></td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>