<div class="container" *ngIf="isReset">
    <div class="jumbotron">
        <h1>Success</h1>
        <p>Your password has been changed successfully </p>
    </div>
</div>

<form [formGroup]="form" *ngIf="form && !isReset">
    <app-password-input [parentFormGroup]="form" [isValidating]="true"></app-password-input>
    <div class="form-group">
        <label for="">Confirm Password </label>
        <input type="password" class="form-control" placeholder="Enter Password" formControlName="confirmPassword">
        <p [hidden]="!unSimilarPassword('confirmPassword')" class="text-danger"> Please enter a similar password </p>
    </div>

    <button class="btn btn-primary" [disabled]="!form.valid" type="submit" (click)="signup()">Save new password</button>
</form>

