<div class="jumbotron">
    <h1>Activation</h1>
    <p>You have registerd successfully. Please check your email for an activation code </p>
</div>


<form [formGroup]="form" *ngIf="form">

    <app-email-input-layout [isNotValid]="form.get('email').dirty && form.get('email').invalid">
        <input type="email" name="email" class="form-control" formControlName="email">
    </app-email-input-layout>

    <app-code-input-layout [isNotValid]="form.get('activationCode').dirty && form.get('activationCode').invalid">
        <input type="text" label="Activation Code" name="activationCode" placeholder="Enter recovery code" class="form-control" formControlName="activationCode">
    </app-code-input-layout>

    <button class="btn btn-default" [disabled]="!form.valid" type="submit" (click)="submit(form.value)">Activate</button>
</form>