<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Users </h3>
    </div>
    <div class="panel-body">
        <div class="form-group row">
            <div class="col-md-4">
                <label>Search</label>
                <input type="text" name="search" id="search_field" class="form-control form-control-sm" placeholder="Filter by name" [(ngModel)]="searchTerm"
                    (ngModelChange)="keyUp$.next($event)">
            </div>
        </div>
        <div class="form-group row" *ngIf="isAdmin()">
            <div class="col-md-4">
                <label for="role">Role</label>
                <select class="form-control form-control-sm" name="role" [(ngModel)]="roleFilter" (change)="fetchConsideringPaging()">
                    <option value="">All</option>
                    <option value="regular">Regular</option>
                    <option value="manager">Manager</option>
                    <option value="admin">Admin</option>
                </select>
            </div>
        </div>


        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Role</th>
                    <th>Email</th>
                    <th class="text-center">Update User Info</th>
                    <th class="text-center">Activate</th>
                    <th *ngIf="isAdmin()" class="text-center">Timings</th>
                    <th class="text-center">Delete</th>
                    <th *ngIf="isAdmin()" class="text-center">Change Role</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of users">
                    <td>{{item.name}}</td>
                    <td>{{item.role}}</td>
                    <td>{{item.email}}</td>
                    <td class="text-center">
                        <a id="updateUserInfoButton" class="link" (click)="onUpdateClick(item)">
                            <i class="fa fa-edit  text-default"> </i>
                        </a>
                    </td>
                    <td class="text-center" *ngIf="!item.active">
                        <a id="activateButton" class="link" (click)="onActivateClick(item)">
                            <i class="fa fa-check-square  text-default"> </i>
                        </a>
                    </td>
                    <td class="text-center" *ngIf="item.active">
                        <a id="activatedIcon">
                            <i class="fa fa-check  text-success"> </i>
                        </a>
                    </td>
                    <td *ngIf="isAdmin()" class="text-center">
                        <a id="timingsButton" class="link" (click)="onTimingsClick(item)">
                            <i class="fa fa-clock-o text-warning"> </i>
                        </a>
                    </td>
                    <td class="text-center">
                        <a id="deleteButton" class="link" (click)="onDeleteClick(item)">
                            <i class="fa fa-trash text-danger"> </i>
                        </a>
                    </td>
                    <td *ngIf="isAdmin()" class="text-center">
                        <a id="userRoleButton" class="link" (click)="onChangeRoleClick(item)">
                            <i class="fa fa-user-o text-warning"> </i>
                        </a>
                    </td>
                </tr>
            </tbody>

        </table>
    </div>
</div>

<div class="col-md-12">
    <pagination [totalItems]="totalItems" [(ngModel)]="currentPage" (pageChanged)="fetchUsers($event)" [maxSize]="10"></pagination>
</div>