
<h1>Login</h1>
<br>
<form (ngSubmit)="onSubmit(form.value)" [formGroup]="form" *ngIf="form">
    <app-email-input [parentFormGroup]="form" [isValidating]="true"></app-email-input>
    <app-password-input [parentFormGroup]="form" ></app-password-input>
    <app-submit-button [isDisabled]="!form.valid"></app-submit-button>
    <button class="btn btn-primary" routerLink="/login/forgotten_password">Forgotten password?</button> 
</form>
<hr>

<span>Do not have an account?</span> <button class="btn btn-primary" routerLink="/login/signup">Sign Up</button>

