<form (ngSubmit)="onSubmit(form.value)" [formGroup]="form" *ngIf="form">
    <div class="form-group">
        <label for="">Code </label>
        <input type="text" class="form-control" id="" placeholder="Enter your name" formControlName="code">
        <p [hidden]="!isInCorrectCodeFormat('code')" class="text-danger"> Please Enter the code of approprite format that contains 20 letters</p>
    </div>
    <app-email-input [parentFormGroup]="form" [isValidating]="true"></app-email-input>

    <button class="btn btn-primary" [disabled]="!form.valid" type="submit" (click)="signup()">Signup</button>
</form>

