<app-nav>
    <ul class="nav navbar-nav">
        <li routerLinkActive="active" routerLink='/my-time'><a href="javascript:void(0);">My timings</a></li>
        <li routerLinkActive="active" routerLink='/my-profile'><a href="javascript:void(0);">My profile</a></li>
        <li routerLinkActive="active" routerLink='/users'><a href="javascript:void(0);">Users</a></li>
        <li (click)="logout()"><a href="javascript:void(0);">Logout</a></li>
    </ul>

</app-nav>
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>