<app-nav>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a routerLinkActive="active" routerLink='/my-time' class="nav-link" href="javascript:void(0);">My timings</a>
          </li>
          <li class="nav-item">
            <a routerLinkActive="active" routerLink='/my-profile' class="nav-link" href="javascript:void(0);">My profile</a>
          </li>
          <li *ngIf="isAtleastManager()" class="nav-item">
              <a routerLinkActive="active" routerLink='/users' class="nav-link" href="javascript:void(0);">Users</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" (click)="logout()" href="javascript:void(0);">Logout</a>
            </li>
        </ul>
      </div>
</app-nav>

<div class="container">
    <div class="row">
        <div class="col-md-11">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>