<div class="jumbotron">
    <h1>Done</h1>
    <p>Check your email for recovery code</p>
</div>


<form [formGroup]="form" *ngIf="form">

    <app-email-input-layout [isValid]="!(form.get('email').dirty && form.get('email').invalid)">
        <input type="email" name="email" class="form-control" formControlName="email">
    </app-email-input-layout>


    <div class="form-group">
        <label for="">Recovery Code </label>
        <input type="text" class="form-control" placeholder="Enter recovery code" formControlName="recoveryCode">
        <p [hidden]="!isIncorrectActivationCodeFormat('recoveryCode')" class="text-danger"> Please enter a valid recovery code </p>
    </div>

    <div class="form-group">
        <label for="">New Password </label>
        <input type="password" class="form-control" placeholder="Enter new password" formControlName="newPassword">
        <p [hidden]="!isIncorrectPasswordFormat('newPassword')" class="text-danger"> Please Enter a password of minimum 6 characters and contain a letter and a number </p>
    </div>


    <div class="form-group">
        <label for="">Confirm Password </label>
        <input type="password" class="form-control" placeholder="Confirm new password" formControlName="confirmNewPassword">
        <p [hidden]="!unSimilarPassword('confirmNewPassword')" class="text-danger"> Please enter a similar password </p>
    </div>



    <button class="btn btn-primary" [disabled]="!form.valid" type="submit" (click)="changePassword(form.value)">Change password</button>
</form>