<h3>
    Change Password</h3>
<br>

<form [formGroup]="form" *ngIf="form">

    <app-password-input-layout label="Old Password" [isNotValid]="false">
        <input type="password" name="oldPassword" class="form-control" formControlName="oldPassword">
    </app-password-input-layout>

    <app-password-input-layout label="New Password" [isNotValid]="form.get('newPassword').dirty && form.get('newPassword').invalid">
        <input type="password" name="newPassword" class="form-control" formControlName="newPassword">
    </app-password-input-layout>

    <div class="form-group">
        <label for="">Confirm Password </label>
        <input name="confirmPassword" type="password" class="form-control" placeholder="Confirm password" formControlName="confirmPassword">
        <p [hidden]="!form.getError('areEqual')" class="text-danger">Please Enter a similar password </p>
    </div>

    <button class="btn btn-default" [disabled]="!form.valid" type="submit" (click)="changepassword()">Change password</button>
</form>