.top-buffer{
    margin-top: 20px; 
}

body{
    font-family: Muli,Helvetica,Arial,sans-serif;
}

.page-container{
    min-height: 600px;
    height: auto !important; /* This is a hack to make IE6 fix itself to a set height */
    height: 600px; 
}

.successAlert{
    background: $brand-success !important
}

.errorAlert{
    background: $brand-danger !important
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid blue; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1s linear infinite;
    z-index: -1;
    margin: auto;
    top: 300px;
    left: 0;
    bottom: 50px;
    right: 0;
    position: absolute;

}


@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


.mat-simple-snackbar-action{
    color: white
}